.app-container {
    background-color: #f5f5f5;
}

.category {
    border-radius: 2px;
    background-color: white;
}
.category-heading {
    font-size: 1.8rem;
    color: #4a4a4a;
}
.category-heading {
    padding: 12px 16px;
    border-bottom: 1px solid rgba(223, 223, 223, 0.7);
    margin-top: 0;
}
.category-heading-icon {
    font-size: 1.4rem;
    position: relative;
    top: -1px;
    margin-right: 8px;
}
.category-list {
    padding-left: 0;
    list-style: none;
    padding-bottom: 8px;
    margin-left: 10px;
}
.category-link-active .category-link {
    color: #ec593c;
}
.category-link-active .category-link::before {
    content: "";
    top: 50%;
    left: 8px;
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent #ec593c;
    transform: translateY(-50%);
}
.category-link {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
    /* Mẹo dùng để cho chữ chọt vô chọt ra */
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}
.category-link:hover {
    /* Mẹo dùng để cho chữ chọt vô chọt ra */
    right: -4px;
    color: #ec593c;
}
/* Home sort +filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 3px;
}
.mobile-category {
    display: none;
}
.mobile-category-list::-webkit-scrollbar {
    display: none;
}
.mobile-category-list {
    list-style: none;
    display: flex;
    max-width: 100%;
    padding-left: 0;
    overflow-x: auto;
}
.mobile-category-item {
    flex-shrink: 0;
    align-items: center;
    margin-right: 10px;
}
.mobile-category-item:nth-of-type(3n + 1) .mobile-category-link {
    background-color: #87afd8;
}
.mobile-category-item:nth-of-type(3n + 2) .mobile-category-link {
    background-color: rgb(255, 173, 65);
}
.mobile-category-item:nth-of-type(3n + 3) .mobile-category-link {
    background-color: rgb(109, 93, 255);
}
.mobile-category-link {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    width: 108px;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}
.home-filter-lanel {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.page-number-wrap {
    display: flex;
}
.home-filter-btn {
    margin-right: 12px;
    min-width: 90px;
}
.select-price:hover .price-list {
    display: block;
}
.pdt-24 {
    padding-top: 20px;
}
.shop-information {
    margin-top: 60px;
}
.info-service {
    font-weight: 700;
    line-height: 1.4;
}
.no-email-mt-top {
    margin-top: 46px !important;
}
.shop-email {
    font-weight: 600;
    color: red;
}
.info-service-item-list {
    margin-top: 28px;
    list-style: none;
}
.info-service-item-link {
    font-size: 12px;
    color: #959595;
    text-decoration: none;
}
.normal-write {
    color: #636363;
    font-size: 12px !important;
    line-height: 2;
}
.normal-write:hover {
    opacity: 0.7;
}
.verify-link {
    text-decoration: none;
    color: black;
}
.footer-100-info {
    display: block;
    font-size: 12px;
    color: #959595;
    line-height: 1.6;
}
.footer {
    margin-top: 40px;
    border-top: 1px solid var(--text-color);
    height: 2px;
}
.footer-wrap {
    margin-top: 20px;
}
.hidden-navbar-item {
    padding-left: 8px;
}
.main-intro-heading {
    display: block;
    margin: 10% 0 8% 0;
    text-align: center;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
}
.main-intro-des {
    display: block;
    font-size: 14px;
    margin-top: 8px;
    font-style: initial;
    color: #333;
}
.item-main-img {
    position: relative;
}
.item-main-img img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}
.item-main-img:hover .item-main-modal-overlay {
    display: block;
}
.item-main-img:hover img {
    transform: scale(1.05);
}
.item-main-modal-overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    width: 100%;
    height: 100%;
    animation: opacitychange ease-in 0.3s;
}
.item-main-description {
    display: block;
    text-align: center;
    margin-top: 25%;
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.price-item {
    display: block;
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 700;
}
.hot_line_number {
    margin-left: 50%;
}
.logo-produce-place {
    margin-right: 8px;
}
.icon-place {
    width: 40px;
    height: 40px;
    text-align: center;
}
.icon-place i {
    font-size: 3rem;
}
.feature-heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
}
.video-place {
    text-align: center;
}
.content-place {
    margin-top: 24px;
    margin-left: 12px;
}
@media (max-width: 739px) {
    .col-lg-4 {
        margin: 16px 0;
    }
}
